package {{ package_name }};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.data.jpa.repository.config.EnableJpaRepositories;

/**
 * Main application class for {{ service_name }}
 * 
 * This service implements {{ service_description }}
 */
@SpringBootApplication
@EnableJpaRepositories
public class {{ service_name }}Application {

    public static void main(String[] args) {
        SpringApplication.run({{ service_name }}Application.class, args);
    }
}
